@{
    ViewData["Title"] = "Home";
}

<h2>Math</h2>

<form action="Math/Doubled" method="post">
    <div class="form-horizontal">
        <h4>Number to be Doubled</h4>
        <hr />
        <div class="form-group">
            <input class="form-control" type="text" id="number" name="number" value="5" />
        </div>
        <input type="submit" value="Double" class="btn btn-default" />
    </div>
</form>